body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;  /* コンテナ内の要素を中央揃え */
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.textbox input {
    padding: 10px;
    font-size: 16px;
    width: 400px;  /* 幅を広く設定 */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* ボタン間のスペース */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

#barcode {
    margin: 20px 0;
}

/* 画像表示エリアのスタイル調整 */
#image-area {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: 2px solid black;
    background-color: white;
}

/* 画像表示エリア内の画像を中央揃え */
#image-area img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

button#pdf-btn {
    background-color: #28a745;
}

button#pdf-btn:hover {
    background-color: #218838;
}
